<%= form_with(model: disciplina) do |form| %>
  <% if disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
        <% disciplina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :ativa %>
    <%= form.check_box :ativa %>
  </div>

  <div class="field">
    <%= form.label :turma_id %>
    <%= form.text_field :turma_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
