<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @turma.nome %>
</p>

<p>
  <strong>Ativa:</strong>
  <%= @turma.ativa %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @turma.curso_id %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @turma.modulo_id %>
</p>

<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
